@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@font-face {
    font-family: MyriadPro;
    src: url(fonts/MyriadPro-Regular.otf);
}
* {
	margin: 0px;
	padding: 0px;
}
.clear-fix {
	clear: both;
}
body {
	font-family: MyriadPro;
	font-size: 18px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}
.container {
	width: 960px;
}
header {
	    background-image: -webkit-radial-gradient(30% 50%, circle, #00f9e8, rgba(0,225,237,0.77) 17%, #09f 58%);
    background-image: radial-gradient(circle at 30% 50%, #00f9e8, rgba(0,225,237,0.77) 17%, #09f 58%);
}
header nav {
	padding: 32px 56px;
	height: 172px;
}
.header-nav {
	display: table;
	width: 100%;
}
.header-nav li {
	list-style: none;
	display: table-cell;
	text-align: center;
	height: 92px;
	line-height: 92px;
}
.header-nav li a , .header-nav li a:hover {
	text-decoration: none;
	font-size: 16px;
	color: #000;
}
.fb-link { padding-right: 25px; }
header .sub-header {
	padding: 40px 0px;
}
header .sub-header .sub-header-text {
	padding-left: 50px;
}
.hero {
	width: 100%;
}
.feature-img {
	width: 100%;
}
.feature-title { text-transform: uppercase; font-weight: 700; margin: 0px; margin-top: 30px; margin-bottom: 13px; font-size: 0.8em }
.hero-cta img {
	width: 200px;
}
.sponsors img { width: 100%; }

/*** START MAIN **/
.main-wrap { padding: 48px 0px; }
.main-wrap h3 { font-size: 40px; }
.main-wrap p { font-size: 21px; }
.faq .row { margin-bottom: 34px; }
.inverted { background: #7f7f7f; }
.sec-title { text-align: center; font-size: 48px; margin-bottom: 30px; }
.inverted p, .inverted h1, .inverted h2, .inverted h3, .inverted h4, .inverted a { color: #fff; }
.beta-ac{
	display: block;
    width: 230px;
    margin: 0px auto;
}
/** FAQ **/
.faq-sec h2 {
	text-align: center;
	color: #777;
}
.faq-sec .sub-desc {
	text-align: center;
	color: #999;
}
.faq-questions { list-style: none; }
.faq-questions li {
	margin: 10px 0px;
}
.faq-questions li a {
	list-style: none;
	color: #888;
	display: block;
	width: 100%;
	text-decoration: none;
	border: 2px solid #0096ff;
	padding: 15px;
	cursor: pointer;
}
.faq-questions li a.active {
	color: #fff;
	background: #0096ff;
}
.faq-responses li {
	list-style: none;
	color: #555;
	background: #eee;
	display: block;
	width: 100%;
	border-left: 2px solid #0096ff;
	padding: 15px;
	display: none;
}
.faq-responses li.active {
	display: block;
}

/** TESTIMONIALS **/
.testimonials {
    background: url(../img/testi-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-bottom: 20px;
}
.testimonials h1 {
	text-align: center;
    padding: 20px 0px;
    color: #fff;
    font-size: 55px;
}
.testimonial-text {
    width: 100%;
    width: 100%;
    padding: 25px 10px;
    background: rgba(37, 128, 181, 0.68);
    min-height: 270px;
    border-radius: 10px;
    display: table;
    position: relative;
}
.testimonial-text p {
	display: table-cell;
	vertical-align: middle;
}
.inverted-testi {
	background: rgba(214, 214, 214, 0.73);
    color: #000;
}
.testi-avatar {
    width: 90px;
    display: block;
    border-radius: 99px;
    overflow: hidden;
    /*border: 5px solid #fff;*/
    margin: 20px auto;
}
.testi-avatar img {
	width: 100%;
}
.testimonial-foo {
	text-align: center;
}
.testimonial-foo h3 {
	text-transform: uppercase;
	font-weight: 700;
}
.testimonial-text:before {
    content: '';
    left: 6px;
    height: 0px;
    width: 0px;
    border-left: 15px solid transparent;
    border-top: 15px solid rgba(37, 128, 181, 0.68);
    border-right: 15px solid transparent;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 30px);
}
.inverted-testi:before {
    content: '';
    left: 6px;
    height: 0px;
    width: 0px;
    border-left: 15px solid transparent;
    border-top: 15px solid rgba(214, 214, 214, 0.73);
    border-right: 15px solid transparent;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 30px);
}
.faq-sec {
	border-top: 2px solid #999;
}
#faq {
	padding: 40px 0px;
}

footer {
	padding-top: 35px;
	text-align: center;
}
footer p {
	font-size: 21px;
}
footer .site-signature {
	font-size: 16px;
}
footer ul li {
	list-style: none;
	display: inline-block;
}
.stuck {
	position: fixed;
    width: 100%;
    background: #f5f5f5;
    z-index: 999;
    padding: 20px 56px;
    height: 100px;
}
.stuck .header-nav li {
    height: 50px;
    line-height: 50px;
}
.stuck .header-nav li img {
	max-height: 45px;
}